body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url("wild2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee5e3;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}
h1, p {
    margin: 1em auto;
    text-align: center;
    color: #8f6054;
  }
h1 {
    font-size: 50px;
    font-weight: bolder;
}
p {
    font-size: 20px;
    font-weight: bold;
}

form {
  height: 600px;
  width: 500px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #c9aaa2;
  border: 4px solid #eadedb;
  display: block;
  gap: 2rem;
  margin: 0 auto; 

}

fieldset {
    border: none;
    padding: 2rem ;
    border-bottom: 3px solid #3b3b4f;
    display: center;
    
  }
  fieldset:last-of-type {
    border-bottom: none;
  }  
  label {
    display: block;
    margin: 0.5rem 0;
    padding-left: .3%;
    padding-right: 4%;
  }
  input,
  textarea,
  .dropdown {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    
  }
 
  input, textarea, .dropdown {
    background-color: #eee5e3;
    border: 1px solid #0a0a23;
    color: black;
  }
  input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="submit"] {
    display: block;
    width: 10%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.5rem;
    background-color: #a77669;
    border-color: black;
    min-width: 100px;
    border-radius: 12px;
    text-align: center;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }


