body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: rgb(127,127,0);
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
h1, p {
    margin: 1em auto;
    text-align: center;
  }

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  fieldset:last-of-type {
    border-bottom: none;
  }  
  label {
    display: block;
    margin: 0.5rem 0;
  }